body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 20px;
    color: white;
    text-align: center;
}

#introduction {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px 0;
}

#skills {
    background-color: #eaeaea;
    padding: 20px;
    margin: 20px 0;
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills li {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

#contact {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px 0;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    header {
        font-size: 24px;
    }
    
    #introduction, #skills, #contact {
        padding: 10px;
    }
}
#skills li {
    margin-bottom: 5px; /* Adjusted margin for smaller screens */
}
